# dependencies
/node_modules

# Firebase dependencies
/functions

# testing
/bin
/reports

# production
/public/main.js
/public/admin.js

# misc
.DS_Store
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*
selenium-debug.log*
