.input {
  margin: 0 0 1rem 0;
  padding: 0.5rem;
  width: 100%;
  font-size: 1rem;
  line-height: 1;
  display: block;
}

.label {
  margin: 0 0 1rem 0;
  display: inline-block;
}

.input--checkbox {
  margin: 0;
  padding: 0;
  width: auto;
  display: inline-block;
}

.spouse-registration--hidden {
  display: none;
}

.in-between {
  margin: 0 0 1rem 0;
  padding: 0;
}
